// Fonts
$font-family-sans-serif: 'Spartan', sans-serif;
$font-size-base: 1.5rem;

// Colors
$primary: hsl(300, 43%, 22%);
$secondary: hsl(333, 80%, 67%);
$dark: hsl(303, 10%, 53%);
$light: hsl(300, 24%, 96%);
