// Fonts
$font-family-sans-serif: 'Spartan', sans-serif;
$font-size-base: 1.5rem;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

// Colors
$primary: hsl(300, 43%, 22%);
$secondary: hsl(333, 80%, 67%);
$dark: hsl(303, 10%, 53%);
$light: hsl(300, 24%, 96%);

$border-radius-lg: 0.8rem;
