.preview {
  &__card {
    background-color: $primary;
    border-radius: $border-radius-lg;
    color: $white;
    margin: 1rem;
    padding: 3.5rem;

    & p {
      margin: 0;

      &:first-child {
        color: $white;
      }

      &:last-child {
        color: $secondary;
      }
    }
  }

  &__photo {
    max-width: 65%;
    height: auto;
  }
}
