ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

li {
  margin-left: 1rem;
}

.review {
  margin-left: $spacer * 14;

  &__rating {
    background-color: $light;
    border-radius: $border-radius-lg;
    padding: 1.5rem;
    max-width: 50rem;
    margin-bottom: $spacer * 1.5;

    & > :last-child {
      font-weight: $font-weight-bold;
      color: $primary;
    }

    &-1 {
      margin-left: 0;
    }
    &-2 {
      margin-left: $margin-left-sm;
    }
    &-3 {
      margin-left: $margin-left-md;
    }
  }
}
