ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

li {
  margin-left: 1rem;
}

.rating {
  background-color: $light;
  border-radius: $border-radius-lg;
  padding: 1rem;
  max-width: 45rem;

  & > :last-child {
    font-weight: $font-weight-bold;
    color: $primary;
  }
}
